@use '../../variables' as *;

.c-avatar {
    border-radius: 50%;

    &--up {
        &:hover {
            transform: scale(1.1);
        }
    }
    
    &--primary {
        height: 40px;
        width: 40px;
        @include media('sp') {
            height: 30px;
            width: 30px;
        }
    }
    &--small {
        height: 30px;
        width: 30px;
    }
    &--big {
        max-width: 230px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: $space_xxl;
        background-color: $base-color;
        object-fit: cover;
        display: block;
    }

}