@use '../../variables' as *;

.c-formCheck {
    display: flex;
    align-items: center;
    margin-top: $space_l;
    margin-bottom: $space_s;
    &__box {
        width: $check-box-width;
        height: $check-box-height;
        margin: 0;
    }
    &__labelText {
        margin-left: $space_s;
    }
}
