@use '../../variables' as *;

.c-img {
    &__dropArea {
        width: 100%;
        aspect-ratio: 4 / 3;
        background: $main-color-soft;
        color: #ccc;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        display: block;
        overflow: hidden;   //画像がはみ出ないようにする
    }
    &__uploadField {
        opacity: 0;
        width: 100%;
        height: 100%;   //高さをdropAreaにフィットさせるため
        object-fit: cover;
        height: calc($site-width * $form-width);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__prev {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__deleteArea {
        display: flex;
        justify-content: flex-end;
        margin-top: $space_s; //画像からあまり離れたくないので、スペースは少なめで設定
    }

}
