//----------------
// Component
//----------------
@forward 'container';
@forward 'hover';
@forward 'avatar';
@forward 'img';
@forward 'msg';
@forward 'pagination';
@forward 'title';
@forward 'form-group';
@forward 'input';
@forward 'label';
@forward 'form-check';
@forward 'btn';
@forward 'link-sentence';
@forward 'optionbox';
@forward 'textarea';  //タグ名と同じにしたいので"Area"は小文字とした
@forward 'main-area';
@forward 'text-counter';
@forward 'flash-message';
@forward 'search-title';
@forward 'error';
@forward 'breadcrumb';
@forward 'modal';
@forward 'step-list';
@forward 'progress-bar';


