@use '../../variables' as *;

.c-modal {
    position: fixed;      /* スクロールしても固定 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background: #fff;
    padding: $space_xl;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: center;

    &__btnArea {
        display: flex;
        justify-content:space-around;
        margin-top: $space_l;
    }

    &__mask {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
    }
}