@use '../../variables' as *;

.c-progressBar {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 5px;
    //overflow: hidden;

    &__progressRate {
        height: 100%;
        background: #4caf50;
        transition: width 0.3s ease;
    }

    &__progressCount {
        margin-top: $space_s;
        display: block;
        text-align: right;
        
        @include media('sp') {
            font-size: $font-size_m;
        }

        @include media('xs') {
            font-size: $font-size_s;
        }

    }

}