@use '../../variables' as *;

.c-searchTitle {
    display: flex;
    justify-content: space-around;
    margin-top: $space_s;
    margin-bottom: $space_xxl;
    padding: $space_s $space_m;
    line-height: 40px;
    background-color: $surface-color;

    @include media('sp') {
        margin-bottom: $space_l;
    }

    @include media('xs') {
        display: block;
    }


    &__totalNum {
        padding-right: $space_s;
        font-weight: bold;
        font-size: $font-size_l;
        font-family: 'Montserrat', sans-serif;

        @include media('sp') {
            font-size: $font-size_default;
        }

    }
}
