@use "sass:map";


// ==============================
// 変数
// ==============================
//デフォルトの文字色
$font-color_default: #333333;

//サブの文字色
$font-color_sub: #fff;

//inputなどの入力部分のテキスト色
$font-color_input: #2b2b2b;

//文章リンクのテキスト色
$font-color_link: #0066c0;

//フッター文字色
$font-color_footer: #999;

$color_corp: #e3a8b1;
$font-family_group: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

//サイト全体横幅
$site-width: 980px;

//サイト全体に対するform画面の割合
$form-width: 0.7;

//チェックボックス大きさ
$check-box-width: 18px;
$check-box-height: 18px;

//ボタンの丸み
$btn-radius: 24px;
//カードの丸み
$shape-radius: 0.5rem;

//ラジオボタン大きさ
$radio-btn-width: 15px;
$radio-btn-height: 15px;
$radio-scale: 1.2;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 20px;
$font-size_xxl: 24px;
$font-size_2xl: 28px;
$font-size_3l: 32px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_4l: 50px;

//input, textareaのスペース
$input_text_space: 10px;

$font-family_corp: 'Amatic SC', cursive;



// 基本カラー
$base-color:        #F7F8FA;  // ページ背景などのベース
$main-color:        #3A8DFF;
$accent-color:      #FF7043;
$sub-color:         #1E3A8A;  // タイトル・見出し・サブテキストなどに使用

// 補助カラー
$surface-color:       #FFFFFF;  // mainやcardなどのホワイトベース要素に使用
$main-color-soft:     #E3F2FD;  // 入力フォームなど淡いブルーに使用
$accent-hover-color:  #E65C28;  // アクセントホバー（濃いオレンジ）
$secondary-color:     #2C6CD6;  // メインカラーのホバーやヘッダーに使用
$footer-text-color:   #7A7A7A;  // 補足テキスト用







// 影など
$shadow-card:    0 2px 8px rgba(0, 0, 0, 0.1);
$shadow-button:  0 4px 6px rgba(255, 152, 0, 0.5);

$shape-shadow: 0 4px 10px rgba(0,0,0,0.1);


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #F4F5F7;
$gray: #505050;

// メディアクエリのブレークポイント設定

//@media screen and (max-width: 414px){
//  .btn{
//    font-size: .7em;
//  }
//}

// 通常、変数として設定しておくと後々変更しやすくて便利
//  !defaultはすでに変数に値が入っていた場合は何もせず、変数に値が入っていない時に割り当てられるもの
// https://hail2u.net/blog/webdesign/how-to-use-bang-default-flag-in-sass-and-how-it-works.html
//$breakpoint-sm: 400px !default;
//$breakpoint-md: 768px !default;
//$breakpoint-lg: 1000px !default;

// マップ型変数を使うと便利
$breakpoints: (
  //通常系
  'xs': 'screen and (max-width: 375px)',   // 最小クラス（SEなど）
  'sp': 'screen and (max-width: 599px)',    // スマホ全般
  'tab': 'screen and (min-width: 600px) and (max-width: 979px)',
  'pc': 'screen and (min-width: 980px)',

  //まとめ用
  'xs-down': 'screen and (max-width: 375px)',   // 超小型スマホ以下
  'sp-down': 'screen and (max-width: 599px)',   // スマホ以下
  'tab-down': 'screen and (max-width: 979px)',  // タブレット以下（sp+tab）
) !default;

// ==============================
// mixin
// ==============================
// @mixinは関数のようなものを作れる
// https://www.webcreatorbox.com/tech/sass-mixin
// map-get()の第一引数に変数名、第二引数にマップ型のキーを渡すと、マップ型の値が返る
// #{}は「インターポーレーション」といって、演算できない箇所、変数使えない箇所でも使えるようにするものcalcなどでよく使う
// http://book.scss.jp/code/c4/08.html
@mixin media($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}