//project
@use '../../variables' as *;

@forward 'area';
@forward 'search-area';
@forward 'profile';
@forward 'admin-setting';
@forward 'slider';
@forward 'welcome';
@forward 'step-show';
@forward 'sub-step-list';
@forward 'compliance';
