@use '../../variables' as *;

.p-profile {
    width: 100%;
    box-sizing: border-box;

    &__container {
        display: flex;
    }

    &__profileImg {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media('xs') {
            flex-direction: column;
            width: 100%;
        }
    }

    &__description {
        width: 50%;
        padding: $space_l;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        @include media('xs') {
            width: 100%;
        }

        &--few {
            font-size: $font-size_xl;
        }
    }
    
    &__profileMessage {
        width: 100%;
        padding: $space_l;
        box-sizing: border-box;
    }
}