@use '../variables' as *;

.l-header {
    width: 100%;
    height: 60px;
    background-color: $secondary-color;
    color: $font-color_sub;
    display: flex;
    justify-content: space-between;
    margin-bottom: $space_xxl;

    &__welcomeHeader {
        margin-bottom: 0;
    }

    &__container {
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        @include media('sp') {
            width: 100%;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: $font-size_xxl;
        font-weight: bold;
        padding: 0 $space_xxl;
        height: 60px;
        @include media('tab') {
            font-size: $font-size_xl;
            padding: 0 $space_m;
        }

        @include media('sp') {
            font-size: $font-size_l;
            padding: 0 $space_s;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        line-height: 40px;
        position: relative;
        display: inline-block;
        padding: $space_m;

        &--colored {
            font-weight: bold;
            background-color: $accent-color;
            border-radius: $btn-radius;
        }

        &--dropped {
            position: absolute;
            right: 0px;
            width: 130px;
            background-color: $secondary-color;
            z-index: 1;
        }
    }

    &__userIcon {
        //アイコンが縦に中央にくるための処理
        display: flex;
        align-items: center;
    }

    &__dropName {
        padding: $space-s;
        text-align: center;
        font-weight: bold;
        background-color: $sub-color;
        border-bottom: 1px solid #ddd;
        color: $font-color_sub;
        font-size: $font-size_m;
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__dropMenu {
        padding: 0 $space_m;
        text-align: center;
        line-height: 40px;

        &:nth-child(2) {
            box-shadow: 0 0 0 0.5px $base-color;
        }
        &:nth-child(3) {
            box-shadow: 0 0 0 0.5px $base-color;
        }

    }

    &__guestLinks {
        display: flex;
        gap: $space_m;

        @include media('sp') {
            display: none;
        }
    }

    &__guestDropdown {
        display: none;

        @include media('sp') {
            display: block;
            position: relative;
            width: 100%;
            text-align: center;
        }
    }
}
