// ==================================
// base
// ==================================
@use '../variables' as *;
@use "sass:color";

html, body {
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  line-height: 1.6;
  font-family: "Quicksand", "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  background-color: $base-color;
  overflow-x: hidden; //横幅はみ出し部分を隠し、レスポンス時に横幅が切れるのを防止
  @include media('tab') {
    //font-size: $font-size_m;
  }
  @include media('sp') {
    font-size: $font-size_m;
  }
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_link;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  background-color: $color_corp;
  transition: .3s;
  cursor: pointer;
}

a:visited {
  color: color.adjust($font-color_link, $lightness: -15%);
}

img {
  width: 100%;
  vertical-align: bottom;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

//inputのtype：date型を横いっぱいにしてクリックしやすいようにする
input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}
input[type="date"]{
 
  position: relative;
}